doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title CipherConnect
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js')
        link(rel="shortcut icon" href="http://localhost:3000/chat2.ico")
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        link(rel='preload' href='/css/fontello.css' as='style')
        link(rel='stylesheet' href='/css/chat.css')
        link(rel='stylesheet' href='/css/fontello.css')
        link(rel='stylesheet' href='/css/animation.css')
        style.
            textarea[autoresize] {
                display: block;
                overflow: hidden;
                resize: none;
            }
    body
        div#mainContent
            //- input(type="checkbox")
            #friendsSearchBg
            div#searchUsers
                    input#search-input(type='text', placeholder='Find User')
                    div#users
            #friends
                #friendsContainer
            #menu
                div#menuDiv
                    div#messagesNotRead.dropdown-container
                        #invitesDropdown.dropdownToggle
                            div#messCounter(value="0").counter 0+
                            i.icon-mail.menuIcon
                        #messagesContent.dropdown-content.dropdown(style="color: black;")
                            div a
                            div b 
                    div#invitations.dropdown-container
                        #invitationsDropdown.dropdownToggle
                            div#invCounter.counter(value="0") 0
                            i.icon-user-add.menuIcon
                        #invitationContent.dropdown-content.dropdown(style="color: black;")
                    div#groups.dropdown-container
                        #groupsDropdown.dropdownToggle
                            div#groupCounter.counter(value="0") 0
                            i.icon-users.menuIcon
                        #groupsContent.dropdown-content.dropdown(style="color: black;")
                            #group
                                | CREATE GROUP
            div#chat_account
                #chatContainer
                    #chat
                        #receiver
                            #receiverAvatar
                            #receiverName
                            i.icon-keyboard.hidden
                        div#message-container
                    div#inputAndIcons
                        textarea#message(autoresize='' style='margin-bottom: 10px; width: 40vw; min-height: 80px; max-height: 50vh; margin-top: 10px; font-size: 16px;')
                        #chatIcons
                #account
                    #avatarOrInitials
                        #initials(style="visibility: hidden;")
                    #accountContent
                        div#crypto.accountContentText
                            | No Storing Messages
                            .icon-user-secret.accIon
                        .accountContentText
                            label(for="fileInput" class="custom-file-label" style="color: inherit; cursor: pointer; display: flex; justify-content: space-between; align-items: center; width: 100%;")
                                span Upload Avatar
                                .icon-upload-1.accIon
                            input(type="file" id="fileInput" accept="image/*" style="display: none")
                        #logOut.accountContentText
                            | Log Out
                            .icon-off.accIon
                        #deleteAccount.accountContentText
                            | Delete Account
                            .icon-user-times.accIon
                        div#findUsers.accountContentText
                            | Find Users
                            .icon-search-4.accIon
            .modal#confirmModal
                .modal-content
                    p#confirmText
                    .modalButtons
                        button#yesBtn Yes
                        button#noBtn No
                        button#cancelBtn Cancel
            .modal#createGroup
                .modal-content
                    .modalButtons#groupBtns
                        button#sendGroup Create Group
                        button#cancelGroup Cancel
        script(src='/chat.js' type='text/javascript')
        script.
            $(document).ready(function() {
                $('textarea').on('input', function() {
                    $(this).outerHeight(38).outerHeight(this.scrollHeight);
                    if (typeof receiver !== 'undefined') scroll();
                });
            });
