doctype html
html
    head
        title CipherConnect
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet' href='/css/fontello.css')
    body
        .form-container
            h2 CipherConnect
            form#auth-form
                //- label(for='username') Username:
                #info
                    | INFO
                input#username(type='text' name='username' autocomplete="new-password" required placeholder='LOGIN')
                #loginInfo
                    #loginInfoText.characters
                        | 1-20 characters
                    .icons
                        i.icon-cancel-circled2#iconLoginRejected
                        i.icon-ok-circled2#iconLoginAccepted
                //- label(for='password') Password:
                input#password(type='password' name='password' autocomplete="off" required placeholder='PASSWORD')
                #passwordInfo
                    #passwordInfoText.characters
                        | 4-8 characters
                    .icons
                        i.icon-cancel-circled2#iconPasswordRejected
                        i.icon-ok-circled2#iconPasswordAccepted
                #buttons
                    button.buttons(type='button' id='login-button' style="margin-right: 5px;" disabled) Log In
                    button.buttons(type='button' id='sign-up-button' disabled) Sign Up
        script(src='/index.js' type='text/javascript')
